---
layout: default
jsarr:
- "/assets/rainbow/dist/rainbow.js"
- "/assets/rainbow/dist/rainbow.linenumbers.js"
- "/assets/rainbow/src/language/generic.js"
- "/assets/rainbow/src/language/php.js"
- "/assets/rainbow/src/language/css.js"
- "/assets/rainbow/src/language/html.js"
- "/assets/rainbow/src/language/javascript.js"
- "/assets/rainbow/src/language/java.js"
- "/assets/rainbow/src/language/python.js"
- "/assets/rainbow/src/language/ruby.js"
- "/assets/rainbow/src/language/csharp.js"
- "/assets/rainbow/src/language/c.js"
cssarr:
- "/assets/rainbow/themes/css/monokai.css"
---
<!--========== PAGE CONTENT ==========-->
<section class="g-padding-y-60--xs">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <article class="m-blog-item">
        <p class="text-muted text-uppercase text-right">By <a href="#">Admin</a> |  {{ page.date | date: '%B %d, %Y' }}</p>
        <img src="{{ "/assets/images/" | append : page.img}}" alt="{{page.title}} image" class="img-fluid">
        <div class="m-blog-item-content">
          {{page.content | markdownify}}
        </div>
        <!-- Start Blog Post Tag -->
        <div class="m-blog-tag">
          <ul class="m-blog-tag-nav">
            <li><p><span class="fa fa-tag"></span>Article Tags:</p></li>
            {% for tag in page.tags %}
            <li><a href="{{site.url}}/tags#{{tag | replace: ' ', '-'}}">{{tag}}{% if forloop.last == false %},{% endif %}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="clearfix"></div>
        <!-- End Blog Post Tag -->

        <!-- Start Blog Post Share -->
        <div class="m-blog-share">
          <ul class="m-social-media m-blog-share-nav">
            <li><p>Share on :</p></li>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="m-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a class="m-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
            <!--<li><a class="m-youtube" href="#"><i class="fab fa-youtube"></i></a></li>-->
          </ul>
        </div>
        <div class="clearfix"></div>
        <!-- End Blog Post Share -->

        <div class="m-blog-donate">
          <div class="text-center">
            <p>Jika anda suka dengan artikel tersebut, silakan berikan dukungan</p>
            <a href="https://paypal.me/Samuel431" class="btn btn-outline-info btn-donation" rel="nofollow" target="_blank">Donasi <i class="fas fa-heart"></i></a>
          </div>
        </div>
        <div class="clearfix"></div>

        <!-- Blog Navigation -->
        <div class="m-blog-navigation">
          {% if page.previous.url %}
          <a class="m-blog-nav-btn m-blog-nav-prev" href="{{page.previous.url}}"><span class="fas fa-long-arrow-alt-left"></span>Previous Post</a>
          {% endif %}
          {% if page.next.url %}
          <a class="m-blog-nav-btn m-blog-nav-next" href="{{page.next.url}}">Next Post<span class="fas fa-long-arrow-alt-right"></span></a>
          {% endif %}
        </div>
        <div class="clearfix"></div>
        <!-- End Blog navigation -->
      </article>
    </div>
    <div class="col-12">
    {% include disqus.html %}
    </div>
  </div>
  <!-- // end row  -->
</div>
</section>

<!-- Start related post -->
{% assign maxRelated = 4 %}
{% assign minCommonTags =  2 %}
{% assign maxRelatedCounter = 0 %}

{% for post in site.posts %}

{% assign sameTagCount = 0 %}
{% assign commonTags = '' %}

{% for tag in post.tags %}
{% if post.url != page.url %}
{% if page.tags contains tag %}
{% assign sameTagCount = sameTagCount | plus: 1 %}
{% endif %}
{% endif %}
{% endfor %}

{% if sameTagCount >= minCommonTags %}
{% if maxRelatedCounter == 0 %}
<section class="g-padding-y-60--xs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h4 class="m-related-post-title">You May Also Like</h4>
      </div>
{% endif %}
      <div class="col-md-3">
        <article class="m-blog-item">
          <a href="{{post.url}}"><img src="{{"/assets/images/" | append : post.img}}" alt="{{post.title}} image" class="img-fluid"></a>
          <div class="m-blog-item-content">
            <h5 class="m-blog-item-title"><a href="{{post.url}}">{{post.title}}</a></h5>
            <a class="m-readmore-btn" href="{{post.url}}">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
          </div>
        </article>
      </div>
{% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
{% if maxRelatedCounter >= maxRelated %}
{% break %}
{% endif %}
{% endif %}
{% if forloop.last == true %}
    </div>
  </div>
</section>
{% endif %}
{% endfor %}
<!-- End related post -->
<!--========== END PAGE CONTENT ==========-->